.header {
	display: flex;
	justify-content: space-between;
	max-width: $width-of-site;
	margin: 30px auto;
	padding-right: 30px;
	padding-left: 30px;

	font-family: $header-font-family;
	&-right {
		@include respond-to(handhelds) {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-self: stretch;
		}

		align-self: center;
	}
	&__title {
		display: inline-block;

		color: $header-title-color;
		font-style: italic;
		font-weight: normal;
		font-size: $header-title-font;
	}
}

.logo {
	display: inline-block;
	width: 187px;
	margin-right: 12px;
	&-img {
		width: 100%;
	}
}

.login {
	display: inline-block;
	margin-right: 29px;

	text-decoration: none;
	&__icon {
		@include respond-to(handhelds) {
			width: 20px;
		}

		display: inline-block;
		width: 13px;
		margin-right: 10px;
		&-img {
			width: 100%;
		}
	}
	&__text {
		@include respond-to(handhelds) {
			display: none;
		}

		color: $black;
		font-style: italic;
		font-size: $header-text-font;
		text-transform: uppercase;
		&:hover {
			text-decoration: underline;
		}
	}
}

.contact {
	display: inline-block;
	&__button {
		@include respond-to(handhelds) {
			display: none;
		}

		display: block;
		min-width: 160px;
		padding: 15px;
		border: 1px solid $orange;

		background-color: $orange;

		color: $white;
		font-style: italic;
		font-size: $header-text-font;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;

		cursor: pointer;
		&:hover {
			box-shadow: inset 0 0 0 1px $dark-orange,
			0 1px 9px $dark-dark-orange;
		}
		&:active {
			box-shadow: inset 0 0 0 2px $dark-orange,
			inset 0 1px 6px $dark-dark-orange;
		}
	}
	&__icon {
		@include respond-to(handhelds) {
			display: block;
			width: 20px;
		}

		display: none;
		width: 13px;
		&-img {
			width: 100%;
		}
	}
}
