.nav-search-wrapper {
	background-color: $black;
}

.nav-search {
	@include respond-to(handhelds) {
		flex-direction: column;
		padding: 15px 30px;
	}

	display: flex;
	justify-content: space-between;
	max-width: $width-of-site;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;

	font-family: $nav-search-font-family;
}

#menu-checkbox {
	display: none;
	&:checked + [role="navigation"] .main-menu {
		display: block;
	}
	&:checked + [role="navigation"] .toggle-button::after {
		content: attr(data-close);
	}
}

.main-menu {
	@include respond-to(handhelds) {
		display: none;
	}

	margin: 0;
	padding: 0;
	li {
		@include respond-to(handhelds) {
			display: block;
		}

		display: inline-block;
		padding: 27px 17px;
		&:hover {
			background-color: $orange;
		}
		&:not(:last-child) {
			margin-right: 0;
		}
	}
	&__item {
		@include respond-to(handhelds) {
			display: block;

			text-align: center;
		}

		display: inline-block;

		color: $white;
		font-size: $nav-item-font;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.toggle-button {
	@include respond-to(tablets) {
		display: none;
	}
	@include respond-to(medium-screens) {
		display: none;
	}
	@include respond-to(wide-screens) {
		display: none;
	}

	display: block;

	background-color: $black;

	color: $white;
	font-size: $nav-menu-title-font;
	text-align: center;
	text-transform: uppercase;

	cursor: pointer;
	&::after {
		content: attr(data-open);

		display: block;
		margin: 10px 0;
	}
}

.search-form {
	align-self: center;
}

.input-wrapper {
	position: relative;

	width: 269px;
}

.search-input {
	width: 100%;
	padding: 12px;
	padding-right: 30px;
	border: 1px solid #282828;

	outline: none;

	color: $black;
	font-family: $nav-search-font-family;
	font-size: $search-font;
	&::placeholder {
		color: $search-placeholder-color;
		font-weight: 300;
		text-transform: uppercase;
	}
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 0;

	width: 10px;
	height: 10px;
	margin-right: 15px;
	border: 3px solid $search-icon-color;

	border-radius: 100%;

	transform: translateY(-50%) rotate(-45deg);

	pointer-events: none;
	&::before {
		content: '';

		position: absolute;
		top: 11px;
		left: 3px;

		width: 3px;
		height: 8px;

		background-color: $search-icon-color;
	}
}

.to-top {
	@include respond-to(handhelds) {
		display: none;
	}
	@include respond-to(tablets) {
		bottom: 24px;
	}

	position: fixed;
	right: 26px;
	bottom: 64px;

	display: block;

	color: $black;
	font-family: $nav-search-font-family;
	font-weight: 300;
	font-size: $to-top-font;
	text-decoration: none;
	&::before {
		content: '';

		position: absolute;
		top: 50%;
		right: 100%;

		width: 6px;
		height: 6px;
		margin-right: 7px;
		border-top: 1px solid currentColor;
		border-left: 1px solid currentColor;

		transform: translateY(-50%) rotate(45deg);
	}
	&:hover {
		text-decoration: underline;
	}
}
