.news {
	margin-top: 60px;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 225px;
	padding-left: 30px;
	padding-right: 30px;
	@include respond-to(tablets) {
		margin-bottom: 80px;
	}
	@include respond-to(handhelds) {
		margin-bottom: 20px;
	}
	&__title {
		text-transform: uppercase;
		color: #ee4400;
		margin: 0;
		padding: 0;
		line-height: 1.93;
		font-size: 14px;
		margin-bottom: 20px;
		text-decoration: none;
		font-weight: 400;
		&:hover {
			color: #c30;
		}
		@include respond-to(handhelds) {
			text-align: center;
		}
	}
	&__item {
		padding: 0;
		display: block;
		text-decoration: none;
		height: 240px;
		&-img-wrapper {
			width: 172px;
			margin: 0;
			@include respond-to(handhelds) {
				margin: 0 auto;
			}
		}
		&-img {
			width: 100%;
		}
		&-title {
			line-height: 1.11;
			font-size: 18px;
			font-weight: 300;
			width: 165px;
			color: #282828;
			@include respond-to(handhelds) {
				text-align: center;
				margin: 0 auto;
			}
		}
		&:hover {
			.news__item-img-wrapper {
				opacity: .75;
			}
			.news__item-title {
				text-decoration: underline;
			}
		}
	}
}