.news {
	@include respond-to(tablets) {
		margin-bottom: 80px;
	}
	@include respond-to(handhelds) {
		margin-bottom: 20px;
	}

	padding-top: 54px;
	padding-right: 30px;
	padding-bottom: 225px;
	padding-left: 30px;

	background-color: $bcg-news-color;

	font-family: $news-font-family;
	&__title {
		@include respond-to(handhelds) {
			text-align: center;
		}

		margin: 0;
		margin-bottom: 20px;
		padding: 0;

		color: $orange;
		font-weight: 400;
		font-size: $news-title-font;
		line-height: 1.93;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			color: $dark-orange;
		}
	}
	&__item {
		display: block;
		height: 240px;
		padding: 0;

		text-decoration: none;
		&-img-wrapper {
			@include respond-to(handhelds) {
				margin: 0 auto;
			}

			width: 172px;
			margin: 0;
		}
		&-img {
			width: 100%;
		}
		&-title {
			@include respond-to(handhelds) {
				margin: 0 auto;

				text-align: center;
			}

			width: 165px;

			color: $black;
			font-weight: 300;
			font-size: $news-item-font;
			line-height: 1.11;
		}
		&:hover {
			.news__item-img-wrapper {
				opacity: .75;
			}
			.news__item-title {
				text-decoration: underline;
			}
		}
	}
}
