$width-of-site: 1132px;

$header-title-font: 18px;
$header-title-color: #939393;
$header-text-font: 13px;
$header-font-family: 'PT Serif', serif;

$nav-item-font: 18px;
$nav-search-font-family: 'Oswald', sans-serif;
$nav-menu-title-font: 24px;
$search-font: 14px;
$search-placeholder-color: #d4d4d4;
$search-icon-color: #81858c;
$to-top-font: 14px;

$article-font-family: 'PT Serif', serif;
$bcg-article-color: #f5f5f5;
$article-title-font-family: 'Oswald', sans-serif;
$article-title-font: 48px;
$article-subtitle-font: 24px;
$article-font: 18px;

$news-font-family: 'Oswald', sans-serif;
$bcg-news-color: #f5f5f5;
$news-title-font: 14px;
$news-item-font: 18px;

$black: #282828;
$white: #fff;
$orange: #ee4400;
$dark-orange: #cc3300;
$dark-dark-orange: #330000;