doctype html
html(lang="en")
	head
		title= "Test task"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type= "text/css", href="css/style.css")
	body
		header
			div(class="logo")
				img(src="images/logo.png", alt="logo")
			h1 my first webpage
			div(class="login")
				div(class="login__icon")
					img(src="images/key.png", alt="key")
				span(class="login__text") Login
			div(class="contact")
				button(class="contact__button") Contact me
				div(class="contact__icon")
					img(src="images/contact.png")
		div(class="nav-search")
			nav(class="nav")
				a(href="#") Home
				a(href="#") About
				a(href="#") News
				a(href="#") Portfolio
				a(href="#") Blog
			form(class="search-form")
				div(class="input-wrapper")
					input(type="search", placeholder="search", class="search-input")
					div(class="search-icon")
		article(class="article")
			h2(class="article__title") What 10 things should you do every day to improve your life?
			p(class="article__text") Learning another language can keep your mind sharp. Music lessons increase intelligence. Challenging your beliefs strengthens your mind. Increasing willpower just takes a little effort each day and it's more responsible for your success than IQ.
			h3(class="article__subtitle") Key features
			ul(class="article__list")
				li It will make you happier.
				li It will improve yout relationships.
				li It can make you a better person.
				li It can make life better for everyone around you.
		div(class="news")
			h3(class="news__title")
			div(class="news__item")
				div(class="news__img")
					img(src="images/news1.jpg", alt="news1")
				h4(class="news__title") Being in nature reduces stress, makes you more creative
			div(class="news__item")
				div(class="news__img")
					img(src="images/news2.jpg", alt="news2")
				h4(class="news__title") Usability testing for mobile is easy
			div(class="news__item")
				div(class="news__img")
					img(src="images/news3.jpg", alt="news3")
				h4(class="news__title") Infinite scrolling is not for every website
			div(class="news__item")
				div(class="news__img")
					img(src="images/news4.jpg", alt="news4")
				h4(class="news__title") Ecommerce UX: 3 design trends to follow and 3 to avoid
			div(class="news__item")
				div(class="news__img")
					img(src="images/news5.jpg", alt="news5")
				h4(class="news__title") University websites: top 10 design guidelines
			div(class="news__item")
				div(class="news__img")
					img(src="images/news6.jpg", alt="news6")
				h4(class="news__title") University websites: top 10 design guidelines
		div(class="to-top")
			span top